h1 {
    text-align: center;
    border-style: solid;
    padding: 10px;
    font-family: cursive;
    background-color: rgb(247, 222, 192);
}
fieldset {
    border-style:hidden;
    background-color: rgb(189, 218, 253);
}
body {
    background-image: url('./resources/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
}
#mark {
    color: red;
}
legend {
    font-weight: bold;
    border-style:solid;
    background-color: white;
    padding: 5px;
}