h1 {
    text-align: center;
    border-style: none;
    padding: 10px;
    font-family: cursive;
    background-color: rgb(252, 224, 180);
}
fieldset {
    border-style:hidden;
    background-color: rgb(253, 219, 189);
}
body {
    background-image: url('./resources/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#mark {
    color: red;
}
legend {
    font-weight: bold;
    border-style:solid;
    background-color: white;
    padding: 5px;
}